.wrapper {
	position: relative;
	user-select: none;
}

.controller {
	display: flex;
	align-items: center;
	gap: 4px;
}

.label {
	position: relative;
}

.dropdown {
	position: absolute;
	top: 100%;
	right: 4px;
	z-index: 100;
	transition: .3s ease;
	display: flex;
	flex-direction: column;
	padding: 8px 0;
	row-gap: 4px;
	background: #fff;
	box-shadow: 0px 0px 20px 0px #00000055;
	border-radius: 8px;
}

.item {
	cursor: pointer;
}

